.h1_p {
    padding-top: 45px;
  }
  
  .h1_p_1 {
    padding-top: 25px;
  }

  .h_cl_num {
    padding-top: 10px;
  }
  
  
  .video_p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  .center {
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .cal {
    border: '0';
    width: '1200';
    height: '1200';
  }
  
  .left_a {
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
  }
  
  .inputLabel {
    padding-top: 1rem;
    font-weight: bold;
  }
  
  .title {
    font-size: 3pc;
    margin-bottom: 5rem;
  }
  
  .sticky-menu {
    top: 2em;
    width: 30pc;
    padding-right: 1rem;
  }


  .form-group.required .control-label:after {
    content:"*";
    color:red;
  }
  
  .color_table_hd_row{
    background-color:#646d85;
    color:white;
  }

  .color_table_bd_row{
    background-color:#e8e8e8;
  }

  .color_table_bd_cell{
    background-color:#347aa6;
    color:white;
  }


  .table_custom{
    
    border: 1px #737d96;
  }

  .left_align{
      text-align: left;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 1%;
      padding-top: 1%;
  }

  .center_align{
    text-align: center;
}

.card_blue {
  background-color: #c0c4cf;
  border:3px solid rgb(115, 125, 150);
}

.simple_border{
  border: 4px #737d96;
}

.def_color_table{
  background-color: #e8e8e8;
}

table.table-bordered{
  border:3px solid rgb(115, 125, 150);
}
table.table-bordered > thead > tr > th{
  border:3px solid rgb(115, 125, 150);
}
table.table-bordered > tbody > tr > td{
  border:3px solid rgb(115, 125, 150);
}


.color_class_1 {
  background-color: #2a75a9;
  color: white;
  font-weight: bold;
}

.color_class_2 {
  background-color: #896723; 
  color: white;
  font-weight: bold;
}

.color_class_3 {
  background-color: #bc3062;
  color: white;
  font-weight: bold;
}

.color_class_4 {
  background-color: #274257;
  color: white;
  font-weight: bold;
}

.color_class_5 {
  background-color: #1d39af;
  color: white;
  font-weight: bold;
}

.color_class_6 {
  background-color: #654334;
  color: white;
  font-weight: bold;
}