.h1_p {
    padding-top: 45px;
  }
  
  .h1_p_1 {
    padding-top: 25px;
  }
  
  .video_p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  .center {
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .cal {
    border: '0';
    width: '1200';
    height: '1200';
  }
  
  .left_a {
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
  }
  
  ul.Article {
    font-weight: bold;
    min-height: 2pc;
    box-shadow: 0.25rem 0.25rem 0.6rem lightgray, 0 0.5rem 1.125rem lightgray;
  }
  
  ul.Article:hover {
    background-color: rgb(211, 234, 241);
  }
  
  .AdminForm {
    margin-top: 6pc;
    width: 75pc;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .inputLabel {
    padding-top: 1rem;
    font-weight: bold;
  }
  
  .title {
    font-size: 3pc;
    margin-bottom: 5rem;
  }
  
  .sticky-menu {
    top: 2em;
    width: 25pc;
    padding-right: 1rem;
  }
  
  .color_table_hd_row{
    background-color:#c0c4cf;
    color:#4a4e67;
  }

  .color_table_bd_row{
    background-color:#e8e8e8;
  }

  .color_table_bd_cell{
    background-color:#347aa6;
    color:white;
  }


  .table_custom{
    
    border: 1px #737d96;
  }